#child {
  margin-bottom: 10vh;
  background-color: rgba(42, 95, 119, 0.7);
  border-radius: 0.3em;
}
#Epargne {
  background-color: #bc4c1d;
  color: #fff;
  border: 2px solid white;
  margin-bottom: 10vh;
}

/* Rules NAVBAR */
#navbarLaptop {
  display: none;
}

@media screen and (min-width: 870px) {
  #navbarMobile {
    display: none;
  }
  #navbarLaptop {
    display: block;
  }
}
