#navbar {
  width: 100%;
  height: auto;
  /* .2 = Opacity */
  background-color: rgba(0, 0, 0, 0.2);
}

#navbar ul li a:hover {
  background-color: #2a5f77;
}

#navbar ul {
  text-align: center;
}

#navbar ul li {
  list-style: none;
  display: inline-block;
}

#navbar ul li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
  padding: 15px;
  transition: all ease 0.5s;
}
