html, body {
    margin: 0;
    padding: 0;
  }
  
  .jumbotron {
    font-family: 'Montserrat', sans-serif;
    padding: 150px 0;
    background: url(../img/businesspeople-meeting-plan-analysis-graph-company-finance-strat.jpg) center center;
    background-size: cover;
    text-align: center;
    color: #FAA916;
    position: relative;
  }
  
  /**************************** Rules mobile***************************/

  .jumbotron h1 {
    font-size: 20px;
    margin-bottom: 0;
  }

 /***************************** Rules 550px *************************/
  @media screen and (min-width: 550px) {

    .jumbotron h1 {
      font-size: 50px;
      margin-bottom: 0;
    }
  }
  /************************* Rules 900 px****************************/
  @media screen and (min-width: 900px) {

  .jumbotron h1 {
    font-size: 90px;
    margin-bottom: 0;
  }
}
/*************************** Rules 1600 px ***************************/
@media screen and (min-width: 1600px) {

    .jumbotron h1 {
      font-size: 120px;
      margin-bottom: 0;
    }
  }
  
  .jumbotron p {
    font-family: serif;
    font-size: 30px;
    font-style: italic;
    margin: 0 0 30px;
  }
  
  .button {
    display: inline-block;
    border: 2px solid #FAA916;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .button:hover {
    background: #fff;
    color: #000;
  }